{% extends "base.html" %}


{%block titulo%} Inicio{%endblock%}


{%block contenido%}
<br>
<br>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Modulo 01</h4>
            <p class="card-text">Modulo para agregar categorias</p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Modulo 02</h4>
            <p class="card-text">Modulo para agregar productos</p>
        </div>
    </div>
</div>




{%endblock%}
 