{% extends "base.html" %}


{%block titulo%} Productos{%endblock%}


{%block contenido%}

<br>
<br>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_productos'%}" role="button">Agregar nuevo producto<a>


    </div>
    <div class="card-body">
        <h4 class="card-title"><h1>Productos</h1></h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Descripcion producto</th>
                        <th scope="col">Valor u/n</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    
                    {% for producto in productos%}
                    <tr class="">
                        <td scope="row">{{producto.prod_id}}</td>
                        <td>{{producto.prod_desc}}</td>
                        <td>{{producto.prod_vu}}</td>
                        <td>{{producto.cate_id_id}}</td>
                        <td>{{producto.prod_estado}}</td>

                        <!--Acciones-->
                        <td> <a name="" id="" class="btn btn-primary" href="#" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Inhabilitar</a>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>





        {%endblock%}